body {
    background-color: rgb(50, 43, 148);
}

.Text {
    color: white;
    text-decoration: underline;
    display: inline-block;
    text-align: center;
    transition: 1s;
}

.Text:hover {
    text-decoration: underline rgb(86, 86, 255);
    opacity: 0.8;
}

.Menu {
    height: 100px;
    border-radius: 100px;
    text-align: center;
    background-color: rgb(86, 86, 255);
}

.LinkStyle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    list-style: none;
    display: inline-block;
    margin-right: 40px;    
}

.Logo1 {
    height: 62px;
    width: 230px;
    border-radius: 200px;
    background-color: white;
    text-align: center;
    margin-top: 17px;
    margin-left: 10px;
}

.Font {
    font-family: 'MuseoModerno', cursive;
    font-weight: bold;
    line-height: 60px;
    font-size: 22px;
    margin-left: 15px;
    display: inline-block;
}
